@media (prefers-color-scheme: dark) {
    .ddg-filter-button {
        color: #eeeeee;
        background-color: #2b2b2b;
        border-color: #161616;
    }
    
    .ddg-filter-button:hover {
        background-color: #3d3d3d;
    }

}


.ddg-filter {
    display: none;
}

.ddg-filter-button {
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    margin: 3px 3px 3px -1px;
    cursor: pointer;
    font-size: small;
}

.ddg-filter-buttons-div{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.ddg-filter-icon{
    margin-right: 5px;
}