* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1b22;
        color: white;
    }

    a:link {
        color: #00ddff;
    }

    a:visited {
        color: #3587ae;
    }

    p {
        background-color: #23222b;
    }

    textarea {
        background-color: #1c1b22;
        color: white;
        border: 1px solid #d8d7e0;
    }
    textarea:focus {
        outline: none !important;
        border:1px solid #d8d7e0;
        box-shadow: 0 0 3px #d8d7e0;
    }
    button {
        background-color: #484854;
        color: white;
    }
}

@media (prefers-color-scheme: light) {

    p {
        background-color: aliceblue;
    }

}

body {
    padding-bottom: 10px;
}

button {
    border: none;
    width: 80px;
    height: 20px;
}

button:hover {
    background-color: #565664;
    cursor: pointer;
}

p {
    width: auto;
    border-radius: 5px;
    padding: 3px 3px 3px 3px;
    text-align: justify;
    margin-top: 3px;
    margin-bottom: 3px;
}

textarea {
    width: 100%;
    font-size: 1.3em;
}

tr td:nth-child(2) {
    text-align: right;
}

#save-button {
    margin-top: 8px;
    margin-bottom: 8px;
}

#rate-button {
    all: unset;
}

h3 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
}